<h1>Editing beer</h1>

<form>
  <div class="field">
    <label for="brewer">Brewer</label><br />
    <input name="brewer" value="<%= beer.escape('brewer') %>" />
  </div>
  <div class="field">
    <label for="name">Name</label><br />
    <input name="name" value="<%= beer.escape('name') %>" />
  </div>
  <div class="field">
    <label for="style">Style</label><br />
    <input name="style" value="<%= beer.escape('style') %>" />
  </div>
  <div class="field">
    <label for="abv">ABV</label><br />
    <input name="abv" value="<%= beer.escape('abv') %>" />
  </div>
  <div class="field">
    <label for="ibu">IBU</label><br />
    <input name="ibu" value="<%= beer.escape('ibu') %>" />
  </div>
  <div class="actions">
    <input type="submit" value="<%= beer.isNew() ? 'Create' : 'Update' %> beer" />
  </div>
</form>

<% if (!beer.isNew()) { %>
  <a href="#beers/<%= beer.id %>">Show</a> |
<% } %>

<a href="#">Back</a>
