<p>
  <b>Brewer:</b>
  <%= beer.escape('brewer') %>
</p>

<p>
  <b>Name:</b>
  <%= beer.escape('name') %>
</p>

<p>
  <b>Style:</b>
  <%= beer.escape('style') %>
</p>

<p>
  <b>Abv:</b>
  <%= beer.escape('abv') %>
</p>

<p>
  <b>Ibu:</b>
  <%= beer.escape('ibu') %>
</p>

<a href="#beers/<%= beer.id %>/edit">Edit</a> |
<a href="#">Back</a>
