<td><%= beer.escape('brewer') %></td>
<td><%= beer.escape('name') %></td>
<td><%= beer.escape('style') %></td>
<td><%= beer.escape('abv') %></td>
<td><%= beer.escape('ibu') %></td>
<td><a href="#beers/<%= beer.id %>">Show</a></td>
<td><a href="#beers/<%= beer.id %>">Edit</a></td>
<td><a href="">Destroy</a></td>
